{% extends "base.html" %}

{% block title %}Spectra{% endblock %}

{% block page_content %}

    
    <div class="own-container">
        <div class="page-header">
            <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
        </div>
        <div class="row p-4" style="background-color: rgb(106, 84, 126);">
            <div class="card m-auto" style="width: 90;">
                <div class="card-body">
                    <div id="chart1">
                    </div>
                    <div>
                        <form method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".txt">
                        <input type="submit" value="Upload File">
                    </form>
                    </div>
                    <div><label>Show Stem Plot</label>
                        <input type="checkbox" id="stemCheckbox" checked onchange="toggleStemPlot()">
                    </div>
                    <div><label>Change the Title</label>
                        <input type="text" id="titleInput" onchange="changeTitle()">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graphOriginal = {{ graphJSON | safe }};
    var graph = graphOriginal;
    var stemPlotsAdded = true;
    var stemTraces = graph.data.filter(trace => trace.name && trace.name.startsWith('stemTrace_'));
    
    function toggleStemPlot() {
        var checkbox = document.getElementById('stemCheckbox');

        // Set visibility based on the checkbox state
        for (var i = 0; i < stemTraces.length; i++) {
            stemTraces[i].visible = checkbox.checked ? true : 'legendonly';
        }

        // Update the plot with the adjusted visibility
        Plotly.update('chart1', stemTraces, graph.layout);
    }

    function removeStem() {
        graph.data = graph.data.filter(trace => !trace.name || !trace.name.startsWith('stemTrace_')); /* removes all the peaks */

        Plotly.react('chart1', graph, {});
    }

    function changeTitle() {
        var title = document.getElementById('titleInput').value;

        graph.layout.title.text = title;

        Plotly.react('chart1', graph, {});
    }

    // Create the plot using Plotly.plot
    Plotly.plot('chart1', graph.data, graph.layout); /* {} graph.layout paikalle ilman layout-muutoksia */
</script>
{% endblock %}