{% extends "base.html" %}

{% block title %}Spectra{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="row p-4">
    <div class="card m-auto" style="width: 90;">
        <div class="card-body">
            <div id="chart1">
            </div>
            <div><label>Show Stem Plot</label>
                <input type="checkbox" id="stemCheckbox" checked onchange="toggleStemPlot()">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quas necessitatibus quibusdam
                consequatur vel neque. Ut incidunt delectus consectetur odit sed voluptatibus accusantium dolores illo
                cupiditate, amet, provident magni quisquam animi molestiae fugit, laboriosam fuga libero eveniet quidem
                quaerat facere nemo quia? Sint animi recusandae, vel aperiam, iusto laborum, sit quasi illo labore
                tempore nihil veritatis aliquid perferendis. Tempora nulla odit rerum deserunt exercitationem iusto
                beatae architecto nesciunt? Accusamus cumque sit quidem illum similique magni placeat obcaecati earum
                culpa fugiat.
            </p>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graphOriginal = {{ graphJSON | safe }};
    var graph = graphOriginal;
    var stemPlotsAdded = true;
    var stemTraces = graph.data.filter(trace => trace.name && trace.name.startsWith('stemTrace_'));


    // Explicitly set the title in the layout
    graph.layout.title.text = 'New Title';

    function toggleStemPlot() {
        var checkbox = document.getElementById('stemCheckbox');

        // Set visibility based on the checkbox state
        for (var i = 0; i < stemTraces.length; i++) {
            stemTraces[i].visible = checkbox.checked ? true : 'legendonly';
        }

        // Update the plot with the adjusted visibility
        Plotly.update('chart1', stemTraces, graph.layout);

        /*var checkbox = document.getElementById('stemCheckbox');
        if (checkbox.checked) { 
            // Stem plot is checked, show it
            if (stemPlotsAdded)  
            Plotly.react('chart1', graphOriginal.data, graph.layout);
        } else {
            // Stem plot is unchecked, remove it
            graph.data = graph.data.filter(trace => !trace.name || !trace.name.startsWith('stemTrace_'));
            Plotly.react('chart1', graph.data, graph.layout);
        }*/
    }

    function removeStem() {
        graph.data = graph.data.filter(trace => !trace.name || !trace.name.startsWith('stemTrace_')); /* removes all the peaks */

        Plotly.react('chart1', graph, {});
    }
    
    /*removeStem();*/

    // Create the plot using Plotly.plot
    Plotly.plot('chart1', graph.data, graph.layout); /* {} graph.layout paikalle ilman layout-muutoksia */
</script>
{% endblock %}